@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url("../../images/background-image.png");
    background-position: bottom;
    height: 100vh;
    background-size: cover;
    background-color: theme("colors.background-blue");
}

@layer components {
  .section-container {
      @apply container mx-auto mt-10 w-4/5 max-w-7xl font-primary;
  }  
  .btn {
      @apply bg-green-button font-bold text-white p-3 uppercase rounded-sm 
      transition duration-200 ease-in-out;
  }
  .btn:hover {
      @apply bg-green-hover;
  }

  .link {
      @apply text-cerulean-blue underline transition duration-200 ease-in-out;
  }
  .link:hover {
      @apply text-black;
  }

  .card-container {
      @apply rounded-lg shadow bg-blue-container p-10;
  }

  .input {
      @apply bg-gray-100 appearance-none border border-gray-400 rounded 
      w-full py-2 px-4 text-gray-700 leading-tight;
  }

  .edit-btn {
      @apply bg-white border border-gray-800 text-gray-800 rounded-sm self-start 
      flex w-20 justify-around py-1 px-5 transition duration-200 ease-in-out;
  }
  .edit-btn:hover {
      @apply bg-blue-container;
  }

  .address-container {
      @apply bg-gray-background w-full rounded-t-lg flex justify-between px-4 py-3;
  }

  .label-image-container {
      @apply bg-usps-label border border-black bg-cover w-labelWidth h-labelHeight
      justify-self-center;
  }
  .label-image-small {
      @apply label-image-container w-smallLabelWidth h-smallLabelHeight;
  }

  .circle {
    @apply rounded-full h-8 w-8 flex items-center bg-gray-400 justify-center mx-8;
  }

  .label-edit-row {
      @apply flex absolute justify-between w-full;
  }
}

.circle1 {
    background-color: theme("colors.background-blue");
}