@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* background-image: url("../../images/background-image.png"); */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background: radial-gradient(#fff, theme("colors.blue-background"));
}

@layer components {
  .section-container {
      @apply container mx-auto mt-10 w-4/5 max-w-7xl font-primary;
  }  
  .btn {
      background-color: theme("colors.blue-button");
      @apply font-semibold  text-base text-white p-3 rounded-sm px-8 mt-12
      transition duration-200 ease-in-out;
      border-radius: 23.5px;;
  }
  .btn:hover {
      @apply bg-blue-hover;
  }

  .link {
      @apply text-cerulean-blue underline transition duration-200 ease-in-out;
  }
  .link:hover {
      @apply text-black;
  }

  .card-container {
      @apply rounded-lg shadow-xl bg-blue-container p-10;
  }

  .input {
      @apply bg-gray-100 appearance-none border border-gray-400 rounded 
      w-full py-2 px-2 text-gray-700 leading-tight;
  }

  .edit-btn {
      @apply bg-white border border-gray-800 text-gray-800 rounded-sm self-start 
      flex w-20 justify-around py-1 px-5 transition duration-200 ease-in-out text-base;
  }
  .edit-btn:hover {
      @apply bg-blue-container;
  }
  .edit-icon {
      @apply w-5 h-5 mr-2;
  }

  .address-container {
      @apply bg-gray-background w-full rounded-t-lg flex justify-between px-4 py-3 text-sm;
  }

  .label-image-container {
      @apply bg-usps-label border border-black bg-cover w-labelWidth h-labelHeight
      justify-self-center;
  }
  .label-image-small {
      @apply label-image-container w-smallLabelWidth h-smallLabelHeight;
  }

  .circle {
    @apply rounded-full h-10 w-10 flex items-center bg-gray-400 justify-center z-10;
  }
  .circle1 {
    @apply bg-blue-background;
  }
  .line-connector {
      @apply h-2 bg-gray-400 w-32 -mx-10 mt-4;
  }

  .label-edit-row {
      @apply flex absolute justify-between w-full;
  }

  .footer-container {
      @apply flex p-2 mt-1 justify-center;
  }

  .footer-link {
      @apply font-bold text-gray-700 transition duration-200 ease-in-out;
  }

  .footer-link:hover {
      @apply text-black transition duration-200 ease-in-out;
  }
}